/* Import the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Reset default margin, padding, and set the font family to Poppins */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Styles for the main section of the webpage */
section {
    /* Center the content horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Minimum height of 100% viewport height */
    width: 100%; /* Full width of the viewport */
    /* Set the background image, center it, and cover the section */
    background: url('../../Background.jpg');
    background-position: center;
    background-size: cover;
}

/* Styles for the form container */
.form-box {
    position: relative; /* Position relative to its parent */
    width: 400px;
    height: 450px;
    background: transparent; /* Transparent background */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Semi-transparent border */
    border-radius: 20px; /* Rounded corners */
    backdrop-filter: blur(15px); /* Apply a blur effect */
    display: flex; /* Display as a flex container */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

/* Styles for the main heading */
h2 {
    font-size: 2em; /* Set font size to 2em */
    color: #fff; /* Text color is white */
    text-align: center; /* Center align text */
}

/* Styles for input boxes and labels */
.inputbox {
    position: relative;
    margin: 30px 0; /* Margin above and below */
    width: 310px;
    border-bottom: 2px solid #fff; /* Bottom border with white color */
}

/* Styles for labels inside input boxes */
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff; /* Text color is white */
    font-size: 1em;
    pointer-events: none; /* Disable pointer events */
    transition: .5s; /* Apply a 0.5s transition */
}

/* Adjust label position when input is focused or has content */
input:focus ~ label,
input:valid ~ label {
    top: -5px; /* Move label up when focused or valid content */
}

/* Styles for input fields */
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none; /* No visible border */
    outline: none; /* Remove outline on focus */
    font-size: 1em;
    padding: 0 35px 0 5px; /* Internal padding */
    color: #fff; /* Text color is white */
}

/* Styles for icons inside input boxes */
.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff; /* Icon color is white */
    font-size: 1.2em;
    top: 20px;
}

/* Styles for the "Forget Password" section */
.forget {
    margin: -15px 0 15px; /* Adjust margins */
    font-size: .9em; /* Set font size to 0.9em */
    color: #fff; /* Text color is white */
    display: flex; /* Display as a flex container */
    justify-content: space-between; /* Space between elements */
}

/* Styles for "Remember Me" checkbox and the related link */
.forget label input {
    margin-right: 3px; /* Add margin between checkbox and text */
}

/* Styles for links in the "Forget Password" section */
.forget label a {
    color: #fff; /* Text color is white */
    text-decoration: none; /* Remove underline from links */
}

/* Styles on hover for links in the "Forget Password" section */
.forget label a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* Styles for general buttons */
button {
    width: 100%;
    height: 40px;
    border-radius: 40px; /* Rounded corners */
    background: #fff; /* Button background color is white */
    border: none; /* No visible border */
    outline: none; /* Remove outline on focus */
    cursor: pointer; /* Show pointer cursor on hover */
    font-size: 1em; /* Font size is 1em */
    font-weight: 600; /* Font weight is 600 (bold) */
}

/* Styles for the "Register" section */
.register {
    font-size: .9em; /* Set font size to 0.9em */
    color: #fff; /* Text color is white */
    text-align: center; /* Center align text */
    margin: 25px 0 10px; /* Adjust margins */
}

/* Styles for links within the "Register" section */
.register p a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color is white */
    font-weight: 600; /* Font weight is 600 (bold) */
}

/* Styles on hover for links within the "Register" section */
.register p a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* Styles for the top-right logo */
.top-right-logo {
    position: absolute;
    top: 10px; /* Adjust this value to control the vertical position */
    right: 10px; /* Adjust this value to control the horizontal position */
    width: 100px; /* Adjust the width of your logo as needed */
    height: auto; /* Maintain the aspect ratio of the logo */
    z-index: 1000; /* Ensure the logo appears above other content */
    background: transparent; /* Set the background to transparent */
}

/* Styles for the button container */
.button-container {
    background-color: transparent; /* Set the background color of the container */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Add a border to the container */
    border-radius: 20px; /* Add border radius to match the signup page */
    padding: 20px; /* Add padding to the container */
}

/* Styles for buttons within the button container */
.button-container button {
    width: 100%;
    height: 40px;
    border-radius: 40px; /* Rounded corners */
    background: #fff; /* Button background color is white */
    border: none; /* No visible border */
    outline: none; /* Remove outline on focus */
    cursor: pointer; /* Show pointer cursor on hover */
    font-size: 1em; /* Font size is 1em */
    font-weight: 600; /* Font weight is 600 (bold) */
    margin-bottom: 10px; /* Add margin between each button */
}

/* Adjusted Signup Label */
.signup-label {
    font-size: 2em; /* Set font size to 2em */
    color: #fff; /* Text color is white */
    text-align: center; /* Center align text */
    margin-bottom: 20px; /* Add margin for separation */
}
