﻿@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Import the Poppins font from Google Fonts */

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
/* Reset the default margin and padding for all elements and set the font family to Poppins */

section {
    display: flex;
    /* Use Flexbox for layout */
    justify-content: center;
    /* Horizontally center-align children */
    align-items: center;
    /* Vertically center-align children */
    min-height: 100vh;
    /* Ensure a minimum height of 100% of the viewport height */
    width: 100%;
    /* Cover the full width of the viewport */
    background: url('../../Background.jpg');
    /* Set the background image */
    background-position: center;
    /* Center the background image horizontally and vertically */
    background-size: cover;
    /* Cover the entire section with the background image */
}

.form-box {
    position: relative;
    /* Set relative positioning for contained elements */
    width: 400px;
    /* Set a fixed width for the form box */
    height: 450px;
    /* Set a fixed height for the form box */
    background: transparent;
    /* Make the background transparent */
    border: 2px solid rgba(255, 255, 255, 0.5);
    /* Add a border with a transparent white color */
    border-radius: 20px;
    /* Apply a rounded border with a 20px radius */
    backdrop-filter: blur(15px);
    /* Apply a blurred backdrop for a frosted glass effect */
    display: flex;
    /* Use Flexbox for layout */
    justify-content: center;
    /* Horizontally center-align children */
    align-items: center;
    /* Vertically center-align children */
}

h2 {
    font-size: 2em;
    /* Set the font size to 2em (2 times the default font size) */
    color: #fff;
    /* Set the text color to white */
    text-align: center;
    /* Center-align the text */
}

.inputbox {
    position: relative;
    /* Set relative positioning for contained elements */
    margin: 30px 0;
    /* Add margin at the top and bottom */
    width: 310px;
    /* Set a fixed width for the input box container */
    border-bottom: 2px solid #fff;
    /* Add a 2px white border at the bottom */
}

    .inputbox label {
        position: absolute;
        /* Set absolute positioning for precise placement */
        top: 50%;
        /* Move the label down by 50% of its height */
        left: 5px;
        /* Add a 5px left margin to the label */
        transform: translateY(-50%);
        /* Center the label vertically */
        color: #fff;
        /* Set the label text color to white */
        font-size: 1em;
        /* Set the label font size to 1em (default size) */
        pointer-events: none;
        /* Disable pointer events on the label */
        transition: .5s;
        /* Apply a smooth transition effect */
    }

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}
/* Move the label up when the input is focused or has content */

.inputbox input {
    width: 100%;
    /* Set the input width to 100% */
    height: 50px;
    /* Set the input height to 50px */
    background: transparent;
    /* Make the input background transparent */
    border: none;
    /* Remove the input border */
    outline: none;
    /* Remove the input outline when focused */
    font-size: 1em;
    /* Set the input font size to 1em (default size) */
    padding: 0 35px 0 5px;
    /* Add padding to the input text */
    color: #fff;
    /* Set the input text color to white */
}

.inputbox ion-icon {
    position: absolute;
    /* Set absolute positioning for precise placement */
    right: 8px;
    /* Move the icon 8px from the right */
    color: #fff;
    /* Set the icon color to white */
    font-size: 1.2em;
    /* Set the icon font size to 1.2em */
    top: 20px;
    /* Move the icon down by 20px */
}

.forget {
    margin: -15px 0 15px;
    /* Add margin at the top and bottom, and negative margin at the top */
    font-size: .9em;
    /* Set the font size to 0.9em */
    color: #fff;
    /* Set the text color to white */
    display: flex;
    /* Use Flexbox for layout */
    justify-content: space-between;
    /* Distribute space evenly between elements */
}

    .forget label input {
        margin-right: 3px;
        /* Add margin to the right of the input */
    }

    .forget label a {
        color: #fff;
        /* Set the link text color to white */
        text-decoration: none;
        /* Remove the underline from the link */
    }

        .forget label a:hover {
            text-decoration: underline;
        }
/* Underline the link on hover */

button {
    width: 100%;
    /* Set the button width to 100% */
    height: 40px;
    /* Set the button height to 40px */
    border-radius: 40px;
    /* Apply a rounded border with a 40px radius */
    background: #fff;
    /* Set the button background color to white */
    border: none;
    /* Remove the button border */
    outline: none;
    /* Remove the button outline when focused */
    cursor: pointer;
    /* Show a pointer cursor on hover */
    font-size: 1em;
    /* Set the button font size to 1em (default size) */
    font-weight: 600;
    /* Set the button font weight to 600 (bold) */
}

.register {
    font-size: .9em;
    /* Set the font size to 0.9em */
    color: #fff;
    /* Set the text color to white */
    text-align: center;
    /* Center-align the text */
    margin: 25px 0 10px;
    /* Add margin at the top and bottom */
}

    .register p a {
        text-decoration: none;
        /* Remove the underline from the link */
        color: #fff;
        /* Set the link text color to white */
        font-weight: 600;
        /* Set the link font weight to 600 (bold) */
    }

        .register p a:hover {
            text-decoration: underline;
        }
/* Underline the link on hover */

.top-right-logo {
    position: absolute;
    /* Set absolute positioning for precise placement */
    top: 10px;
    /* Adjust this value to control the vertical position */
    right: 10px;
    /* Adjust this value to control the horizontal position */
    width: 100px;
    /* Adjust the width of your logo as needed */
    height: auto;
    /* Maintain the aspect ratio of the logo */
    z-index: 1000;
    /* Ensure the logo appears above other content */
    background: transparent;
    /* Set the background to transparent */
}

.popup {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: transparent;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}


.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup p {
    font-size: 33px;
    font-weight: 500;
    margin: 30px 0 10px;
    color: #fff;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}