/* Import Poppins font with a specific weight and display style from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Reset default margin and padding, use Poppins font */
* {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: 'Poppins', sans-serif; /* Set the font-family to Poppins and a generic sans-serif font */
}

/* Style the main section with background image */
section {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Set a minimum height of 100% of the viewport height */
    width: 100%; /* Set the width to 100% of the viewport width */
    background: url('../../Background.jpg');
    background-position: center; /* Center the background image horizontally and vertically */
    background-size: cover; /* Scale the background image to cover the entire section */
}

/* Style the top-right logo */
.top-right-logo {
    position: absolute; /* Enable absolute positioning for the logo */
    top: 10px; /* Adjust the logo's vertical position */
    right: 10px; /* Adjust the logo's horizontal position */
    width: 100px; /* Set the logo's width to 100px */
    height: auto; /* Maintain the aspect ratio of the logo */
    z-index: 1000; /* Set the stacking order (above other content) */
    background: transparent; /* Set the background to transparent */
}

/* Style the statistics container */
.statistics-box {
    position: relative; /* Enable relative positioning for child elements */
    width: 90%; /* Adjust the width as needed */
    max-width: 1200px; /* Set a maximum width for the container */
    background: transparent; /* Use a transparent background */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Apply a border with reduced opacity */
    border-radius: 20px; /* Round the corners with a border-radius */
    backdrop-filter: blur(15px); /* Apply a blur filter to the container */
    display: flex; /* Use flex layout */
    flex-direction: column; /* Arrange content vertically */
    align-items: center; /* Center content horizontally */
    padding: 20px; /* Add padding to the container */
}

/* Style the form title */
h2 {
    font-size: 2em; /* Set the font size to 2em (twice the default font size) */
    color: #fff; /* Set text color to white */
    text-align: center; /* Center-align the text */
    margin-bottom: 20px; /* Add margin below the form title for separation */
}

/* Style the "High Scores" and "Personal Statistics" buttons */
#goBackButton,
#highScoresButton,
#personalStatisticsButton {
    width: 100%; /* Expand the buttons to 100% of their container's width */
    height: 40px; /* Set the button's height to 40px */
    border-radius: 40px; /* Apply a large border radius for rounded corners */
    background: #007ACC; /* Set the background color to a blue shade */
    border: none; /* Remove the default button border */
    outline: none; /* Remove the default button outline */
    cursor: pointer; /* Change the cursor to a pointer on hover to indicate interactivity */
    font-size: 1em; /* Set the font size to 1em (default size) */
    font-weight: 600; /* Set the font weight to 600 for a bolder text */
    margin-top: 20px; /* Add margin above the buttons for separation */
    color: #fff; /* Set text color to white */
}

/* Add a hover effect to buttons */
goBackButton:hover,
#highScoresButton:hover,
#personalStatisticsButton:hover {
    background: #005A8C; /* Change the background color on hover to a darker blue shade */
}
