/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); /* Import the Poppins font from Google Fonts */

/* Reset default margin and padding, use Poppins font */
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif; /* Reset margins and padding and set the default font to Poppins */
}

/* Style the main section with background image */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Make the section cover the entire viewport height */
    width: 100%;
    background: url('../../Background.jpg');
    background-position: center;
    background-size: cover; /* Center and cover the background image */
}

/* Style the top-right logo */
.top-right-logo {
    position: absolute;
    top: 10px; /* Position the logo 10 pixels from the top */
    right: 10px; /* Position the logo 10 pixels from the right */
    width: 100px;
    height: auto; /* Maintain the aspect ratio of the logo */
    z-index: 1000; /* Set the stacking order to ensure it's above other content */
    background: transparent; /* Set the background of the logo as transparent */
}

/* Style the waiting room container */
.waiting-room {
    background-color: #F1F1F1; /* Set the background color to a light gray */
    border-radius: 20px; /* Round the corners of the container */
    padding: 20px; /* Add padding inside the container */
    text-align: center;
    width: 80%; /* Set the container's width to 80% of its parent element */
}

.waiting-users {
    background-color: #F1F1F1; /* Set the background color to a light gray */
    border-radius: 20px; /* Round the corners of the container */
    padding: 20px; /* Add padding inside the container */
    text-align: center;
    width: 20%; /* Set the container's width to 80% of its parent element */
}

/* Style the title */
.waiting-room h1 {
    font-size: 36px; /* Set the font size for the title */
    font-weight: bold; /* Make the title text bold */
    margin-bottom: 20px; /* Add margin below the title */
}

/* Style the list of participants */
.room-list {
    list-style: none; /* Remove default list bullets */
    padding: 0; /* Remove default list padding */
}

/* Style a single participant entry */
.list-item {
    display: flex; /* Display the entry as a flex container */
    justify-content: space-between; /* Spread items evenly along the horizontal axis */
    align-items: center; /* Center items vertically */
    background-color: #fff; /* Set the background color to white */
    border: 2px solid #CCCCCC; /* Add a border with a light gray color */
    border-radius: 5px; /* Round the corners of the entry */
    margin-bottom: 10px; /* Add margin between entries */
    padding: 10px; /* Add padding inside the entry */
}

/* Style each table cell in the participant entry */
.table-cell {
    flex: 1; /* Allow each cell to grow equally within the entry */
    text-align: center; /* Center the content inside each cell */
}

/* Style the kick button */
.kick-button {
    background-color: red; /* Set the background color to red */
    color: white; /* Set the text color to white */
    border: none; /* Remove the border */
    padding: 5px 10px; /* Add padding to the button */
    cursor: pointer; /* Show a pointer cursor on hover */
    border-radius: 5px; /* Round the corners of the button */
}

/* Style action buttons at the bottom */
.buttons {
    display: flex; /* Display the buttons as a flex container */
    justify-content: space-between; /* Spread buttons evenly along the horizontal axis */
    margin-top: 20px; /* Add margin above the buttons */
}

/* Style the Ready button and Leave button */
.ready-button,
.go-back-button {
    width: 120px; /* Set a specific width for the buttons */
    background-color: #4CAF50; /* Set the background color to a green shade */
    color: white; /* Set the text color to white */
    border: none; /* Remove the border */
    padding: 10px; /* Add padding to the buttons */
    cursor: pointer; /* Show a pointer cursor on hover */
    border-radius: 5px; /* Round the corners of the buttons */
}

/* Hover effect for action buttons */
.ready-button:hover,
.go-back-button:hover {
    background-color: #45a049; /* Change the background color on hover to a slightly different shade of green */
}


/* Style the confirmation box (new styles) */
.confirmation-box {
    display: none; /* Initially hide the box */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000;
}

.confirmation-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px #000;
}


.confirmation-box button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.confirmation-box button.cancel {
    background-color: #FF6347;
}

/* Add styles for the "Yes" button */
.modal-button.modal-yes-button {
    background-color: #4CAF50;
    color: white;
}

/* Add styles for the "No" button */
.modal-button.modal-no-button {
    background-color: #f44336;
    color: white;
}

/* Style the buttons with common styles */
.modal-button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

/* Hover effect for buttons */
.modal-button:hover {
    opacity: 0.8;
}

/* Add these styles to your CSS file */
.waiting-approval {
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin-top: 20px; /* Add margin between waiting players and main waiting room */
}

.waiting-approval h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.approve-button,
.decline-button {
    width: 80px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.approve-button:hover,
.decline-button:hover {
    background-color: #45a049;
}

/* Style for the Waiting Users table */
.waiting-users {
    margin-bottom: 20px; /* Add margin to separate tables */
}

/* Style for the Waiting Room table */
.waiting-room {
    margin-top: 20px; /* Add margin to separate tables */
}
