/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Import the 'Poppins' font from Google Fonts and apply it to the page */

/* Reset default margin and padding, use Poppins font */
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
/* Reset default margin and padding for all elements and set the font to 'Poppins' */

/* Style the main section with background image */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../../Background.jpg');
    background-position: center;
    background-size: cover;
}
/* Style the main content section:
   - Center its content both horizontally and vertically
   - Set a minimum height of 100% of the viewport height
   - Set the background image from the specified file path
   - Center the background image and cover the entire section */

/* Style the top-right logo */
.top-right-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: auto;
    z-index: 1000;
    background: transparent;
}
/* Style the top-right logo:
   - Position it absolutely in the top-right corner
   - Set its dimensions and z-index
   - Make its background transparent */

/* Style the create room container */
.form-box {
    position: relative;
    width: 400px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}
/* Style the container for the form:
   - Position it relatively within the section
   - Set its dimensions and border
   - Apply a blurred backdrop filter
   - Display its content as a column and center it
   - Add padding and allow vertical overflow */

/* Style the form title */
h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
/* Style the form title:
   - Set the font size, text color, and alignment
   - Add bottom margin */

/* Style input boxes and labels */
.inputbox {
    position: relative;
    margin: 20px 0;
    width: 310px;
}
/* Style input boxes and labels:
   - Position them relatively
   - Add vertical margin
   - Set the width */

.inputbox input,
.inputbox select {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
/* Style input fields and select dropdowns:
   - Set the width, height, and remove default styles
   - Use a transparent background, no borders or outlines
   - Set font size, padding, and text color */

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}
/* Style labels for input fields:
   - Position them absolutely
   - Vertically center them
   - Set their initial position and font size
   - Disable pointer events to make them unclickable
   - Add a smooth transition effect */

.inputbox input:focus ~ label,
.inputbox input:valid ~ label,
.inputbox select:focus ~ label,
.inputbox select:valid ~ label {
    top: -5px;
}
/* Style labels when input fields have focus or content:
   - Move the label up when the input field is focused or contains content */

/* Style the submit button */
button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
}
/* Style the submit button:
   - Set width, height, and border-radius for a rounded button
   - Define background, border, cursor, font size, and font weight
   - Add top margin */

/* Style the go back button */
.go-back-button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #E91E63;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
}
/* Style the "Go Back" button:
   - Similar to the submit button with a different background color */

/* Add a hover effect to buttons */
button:hover,
.go-back-button:hover {
    background: #1E88E5;
    border: 2px solid #1E88E5;
}
/* Apply a background color change and border on hover for buttons */


/* Style the navigation links */
.navigation {
    text-align: center;
    margin-top: 20px;
}
/* Style the navigation links:
   - Center align the content within the navigation container
   - Add top margin for spacing */

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}
/* Style the navigation links (anchors):
   - Set the text color to white
   - Remove underlines from anchor links
   - Define the font size and weight for links */

.navigation span {
    margin: 0 10px;
    color: #fff;
    font-weight: 600;
}
/* Style navigation spans (used for spacing):
   - Add horizontal margin for spacing
   - Set the text color to white
   - Define font weight */

/* Style the category dropdown */
.inputbox select {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
/* Style the category dropdown:
   - Set the width and height
   - Use a transparent background, remove borders and outlines
   - Define font size, padding, and text color */

/* Style the category dropdown options */
.inputbox select option {
    color: #000; /* Set the text color to black */
    background-color: #fff; /* Set the background color to white */
}
/* Style the options within the category dropdown:
   - Set the text color to black
   - Set the background color to white */

/* Style the create room container */
.form-box {
    position: relative;
    width: 400px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: hidden; /* Remove the vertical scroll bar */
}
/* Style the container for the create room form:
   - Position it relatively within the section
   - Set its dimensions and border
   - Apply a blurred backdrop filter
   - Display its content as a column and center it
   - Add padding and hide the vertical scrollbar */
