/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Import the Poppins font from Google Fonts */

/* Reset default margin and padding, use Poppins font */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Remove default margin and padding, set the font family to Poppins */

/* Style the main section with a background image */
section {
    display: flex;
    /* Use Flexbox for layout */
    justify-content: center;
    /* Horizontally center-align children */
    align-items: center;
    /* Vertically center-align children */
    min-height: 100vh;
    /* Ensure a minimum height of 100% of the viewport height */
    width: 100%;
    /* Cover the full width of the viewport */
    background: url('../../Background.jpg');
    /* Set the background image */
    background-position: center;
    /* Center the background image horizontally and vertically */
    background-size: cover;
    /* Cover the entire section with the background image */
}

/* Style the top-right logo */
.top-right-logo {
    position: absolute;
    /* Set absolute positioning for precise placement */
    top: 10px;
    right: 10px;
    width: 100px;
    /* Set a fixed width */
    height: auto;
    /* Automatically adjust the height */
    z-index: 1000;
    /* Place it above other elements with a higher z-index */
    background: transparent;
    /* Make the background transparent */
}

/* Style the high scores container */
.high-scores-box {
    position: relative;
    /* Set relative positioning for contained elements */
    width: 90%;
    /* Adjust the width as needed */
    max-width: 1200px;
    /* Set a maximum width for the container */
    background: transparent;
    /* Make the background transparent */
    border: 2px solid rgba(255, 255, 255, 0.5);
    /* Add a border with a transparent white color */
    border-radius: 20px;
    /* Apply a rounded border with a 20px radius */
    backdrop-filter: blur(15px);
    /* Apply a blurred backdrop for a frosted glass effect */
    display: flex;
    /* Use Flexbox for layout */
    flex-direction: column;
    /* Stack children vertically */
    align-items: center;
    /* Center children horizontally */
    padding: 20px;
    /* Add padding to the container */
}

/* Style the form title */
h2 {
    font-size: 2em;
    /* Set the font size to 2em (2 times the default font size) */
    color: #fff;
    /* Set the text color to white */
    text-align: center;
    /* Center-align the text */
    margin-bottom: 20px;
    /* Add space at the bottom */
}

/* Style the high scores table */
#highScoresTable {
    width: 100%;
    /* Set the table width to 100% of the container */
    margin-top: 20px;
    /* Add space at the top */
    background: transparent;
    /* Make the table background transparent */
    border-collapse: collapse;
    /* Collapse table borders */
}

#highScoresTable th,
#highScoresTable td {
    padding: 10px;
    /* Add padding to table cells */
    text-align: center;
    /* Center-align text in cells */
    border-bottom: 1px solid #CCCCCC;
    /* Add a bottom border to separate rows */
}

#highScoresTable th {
    background: transparent;
    /* Make the header background transparent */
    color: #007ACC;
    /* Set the text color to white */
    font-size: 1.2em;
    /* Increase the font size for headers */
}

#highScoresTable td {
    background: transparent;
    /* Make the header background transparent */
    color: #fff;
    /* Set the text color to white */
    font-size: 1.2em;
    /* Increase the font size for headers */
}

/* Style the "Back to Menu" button */
#goBackButton {
    width: 100%;
    /* Set the button width to 100% */
    height: 40px;
    /* Set the button height to 40px */
    border-radius: 40px;
    /* Apply a rounded border with a 40px radius */
    background: #007ACC;
    /* Set the button background color */
    border: none;
    /* Remove the button border */
    outline: none;
    /* Remove the button outline when focused */
    cursor: pointer;
    /* Show a pointer cursor on hover */
    font-size: 1em;
    /* Set the font size to 1em */
    font-weight: 600;
    /* Set the font weight to 600 (bold) */
    margin-top: 20px;
    /* Add space at the top */
    color: #fff;
    /* Set the button text color to white */
}

/* Add a hover effect to buttons */
#goBackButton:hover {
    background: #005A8C;
    /* Change the background color on hover */
}
    